h1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 24px;
  background-color: #1f467e;
  color: white;
  padding: 4px;
  margin: 0;
  font-weight: bold;
}