.paginaResultado{
  width: 100%;
  display: flex;
  justify-content: center;
}

.conteudo{
  width: 1000px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 16px 0;
  color: #070707;
  background-color: rgba(218, 218, 218, 0.527);
  font-weight: 500;
}

.container{
  background-color: rgb(255, 255, 255);
}

.dadosTitulo{
  font-size: 26px;
  padding: 16px 0;
  font-weight: 500;
  color: #606060;
}

.dadosContainer{
  display: flex;
  justify-content: space-between;
}

.dadosContainer div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dadosInfo{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  color: #333;
}

.dadosInfo span {
  font-weight: normal;
}