form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 200px;
}

.container {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.botaoProcurar {
  width: 100%;
}

.categoriaContainer{
  background-color: rgba(245, 245, 245, 0.679);
  border-radius: 4px;
  min-width: 650px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #33333367;
}

.preencherContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  min-height: 300px;
}

.containerBotoes{
  margin: 16px 0;
  display: flex;
  gap: 10px;
}

.containerBotoes Button{
  flex: 1;
}

@media screen and (max-width: 768px) {

  form{
    padding-top: 0;
  }

  .container{
    justify-content: space-between;
  }

  .container div {
    flex-wrap: wrap;
  }

  .categoriaContainer{
    min-width: 100%;
    min-height: 100%;
  }
}