form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 200px;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.botaoProcurar {
  width: 100%;
}

.categoriaContainer{
  background-color: rgba(245, 245, 245, 0.679);
  border-radius: 4px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #33333367;
}

.preencherContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  min-height: 300px;
}

.containerBotoes{
  margin: 16px 0;
  display: flex;
  gap: 10px;
}

.containerBotoes Button{
  flex: 1;
}

.listaRendas{
  max-width: 955px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.rendaContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 16px;
}

.rendaContainer div{
  display: flex;
  gap: 16px;
}

.listaRendasTitulo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px 32px;
  font-size: 16px;
  background-color: #1f467e ;
  color: white; 
  border-radius: 8px;
  font-style: normal;
}

@media screen and (max-width: 768px) {

  form{
    padding-top: 0;
  }

  .container{
    width: 100%;
    justify-content: space-between;
  }

  .container div {
    flex-wrap: wrap;
  }

  .categoriaContainer{
    min-width: 100%;
    min-height: 100%;
  }
}

@media print {
  .containerBotoes {
    display: none;
  }
 }